/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2018, 3:13:40 PM
    Author     : Shaan
*/
.logContainer{
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left:10px solid #4f0007;
    min-height:calc( 100vh - 360px );
    max-height:calc( 100vh - 360px );
    overflow-y:scroll;
    overflow-x:hidden;
}
.activity{
    box-sizing: border-box;
    padding:20px;
    width:100%;
    border-bottom: 1px solid black;
}
#amount{
    font-size: 30px;
}

