/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2017, 10:07:17 AM
    Author     : Shaan
*/
.formContainer{
    padding:20px;
}
.formDiv{
    padding-top:20px;
    border-radius: 5px;
}
#submitBtn{
    width:100%;
    padding:8px;
    transition-duration: 0.3s;
    background:#4f0007;
    color:white;
    border:1px solid #4f0007;
}
#submitBtn:hover{
    background:white;
    color:#4f0007;
}
.btn-custom{
    padding-top:10px !important;
    padding-bottom:10px !important;
    background:#924444;
    color:white;
    border:1px solid #924444 !important;
    transition-duration: 0.5s !important;
}
.btn-custom:active{
    background:white !important;
    color:#4f0007 !important;
}
.btn-custom:hover{
    background:#4f0007 !important;
    color:white !important;
}
.btn-custom.active{
    background:white !important;
    color:#4f0007 !important;
}