/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2018, 2:52:40 PM
    Author     : Shaan
*/
.accountsDiv, .inboxDiv{
    padding:10px;
    min-height:calc(50vh - 130px) !important;
    max-height:calc(50vh - 130px) !important;
    overflow:scroll;
    overflow-x:hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left:10px solid #4f0007;
}
.formContainer{
    padding:20px;
}
.singleDiv{
    padding:10px !important;
    border-bottom:1px solid black;
}
.topDiv{
    min-height: calc(100vh - 170px) !important;
    max-height: calc(100vh - 170px) !important;
}
.firstDiv{
    width:100%;
    padding:10px !important;
    min-height:calc(50vh - 65px) !important;
    max-height:calc(50vh - 65px) !important;
}
#accountBalance{
    font-size: 30px;
}
.messageDiv{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left:10px solid #4f0007;
    min-height:calc(50vh - 130px) !important;
    max-height:calc(50vh - 130px) !important;
    overflow-y:auto;
    overflow-x:hidden;
}
.secondDiv{
    width:100%;
    padding:10px !important;
    min-height:calc(50vh - 90px) !important;
    max-height:calc(50vh - 90px) !important;
}
.interestDiv{
    min-height:calc(50vh - 155px) !important;
    max-height:calc(50vh - 155px) !important;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.savingsDiv{
    overflow:auto;
    overflow-x:hidden;
    padding:10px;
    padding-left:30px;
    min-height:calc(50vh - 175px) !important;
    max-height:calc(50vh - 175px) !important;
    width:100%;
    box-sizing: border-box;
    border-left:10px solid #4f0007;
}
#interestAmount{
    font-size: 80px;
}