/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2018, 7:08:57 PM
    Author     : Shaan
*/
.formContainer{
    padding:20px;
}
.requestDiv{
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
}
.requestListDiv,.selectedRequestDiv{
    padding:10px !important;
    min-height:calc(100vh - 200px) !important;
    max-height:calc(100vh - 200px) !important;
    box-sizing:border-box;
}
#submitBtn{
    width:100%;
    padding:10px;
    transition-duration: 0.3s;
    background:#4f0007;
    color:white;
    border:1px solid #4f0007;
    border-radius:5px;
}
#submitBtn:hover{
    background:white;
    color:#4f0007;
}
.txtBox{
    border: none;
    border-bottom:1px solid black;
    width:100%;
    padding:10px 8px !important;
}
.request{
    padding:15px;
    border-bottom:1px solid #4f0007;
    box-sizing:border-box;
}
.active{
    transition-duration: 0.8s;
    background:beige;
}
#typeLabel{
    font-size: 30px;
}
.firstDiv,.secondDiv{
    overflow-y:auto;
    overflow-x:hidden;
    box-sizing: border-box;
    min-height:calc(100vh - 225px) !important;
    max-height:calc(100vh - 225px) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left:10px solid #4f0007;
}
.secondDiv{
    padding:30px;
}
#userLabel{
    text-transform: uppercase;
}