/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2017, 9:26:20 PM
    Author     : Shaan
*/
.formContainer{
    padding:20px;
}
#submitBtn{
    width:100%;
    padding:8px;
    transition-duration: 0.3s;
    background:#4f0007;
    color:white;
    border:1px solid #4f0007;
}
#submitBtn:hover{
    background:white;
    color:#4f0007;
}

