body{
    margin:0;
    padding:0;
    background-color:#4f0007;
}
.CenterContainer{
    position:absolute;
    left:0;right:0;
    margin:auto;
    min-height:700px;
    height:100%;
    font-family: "Helvetica";
    width:600px;
    padding:30px;
    background-color:white;
    box-sizing:border-box;
}
#welcomeText{
}
.LogoContainer{
    height:100px;
    width:100%;
    box-sizing: border-box;
    border:2px solid #4f0007;
}
.FormContainer{
    box-sizing: border-box;
    line-height:20px;
}
.LinksContainer{
    padding-top: 10px;
    line-height: 25px;
}
#formLabel{
    font-weight: normal !important;
    font-family: "Helvetica";
    display:block;
}
#formInput{
    padding:10px 8px;
    display:block;
    width:100%;
    box-sizing: border-box;
}
#submitBtn{
    border-radius:5px;
    display:block;
    width:100%;
    padding:10px;
    color:#4f0007;
    border:1px solid #4f0007;
    box-sizing: border-box;
    background-color: white;
    transition-duration: 0.4s;
}
#helpLinks,#registrationLink{
    text-decoration: none;
    color:#4f0007;
}
#enterText{
    text-align: center;
    font-size:15px;
    font-weight: normal;
}
#welcomeText{
    text-align: center;
}
#submitBtn:hover{
    background-color: #4f0007;
    color:white;
}
#helpLinks{
    font-size:15px;
    font-family: "Helvetica";
}
#helpLinks:hover,#registrationLink:hover{
    text-decoration: underline;
}
@media only screen and (max-width:600px) {
    body{
        background-color: white;
    }
    .CenterContainer{
        position:relative;
        width:100%;
        height:100%;
        box-sizing:border-box;
    }
}


