body{
    margin:0;
    padding:0;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height:100vh;
    background: #4f0007;
    color: #fff;
    transition-duration: 0.3s;
    z-index:999;
}
.navBarButton{
    height:50px;
    width:50px;
    background: #4f0007;
    color:white;
    border:none;
}
#buttonContainer{
    height:50px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:0px;
    width:100%;
    display:none;
}
#closeBtn{
    height:40px;
    width:40px;
    float:right;
    background: #4f0007;
    border:none;
    opacity:0.3;
    transition-duration: 0.4s;
}
#profileContainer{
    width:100%;
    text-align: center;
    position:relative;
}
#imageContainer{
    width:180px;
    height:180px;
    border-radius: 100px;
}
#profileImage{
    width:100%;
    height:100%;
    border-radius:100px;
    transition-duration: 0.3s;
}
#profileHiddenButton{
    opacity:0;
    position:absolute;
    height:180px;
    width:180px;
    top:0;
    border-radius:100px;
    transition-duration: 0.3s;
}
#changeProfilePicBtn{
    margin-top:38%;
    font-family:"Helvetica";
    text-decoration:none;
    font-size:15px;
    padding:8px 10px;
    text-align:center;
    color:#4f0007;
    background-color:White;
    transition-duration:0.4s;
    display:block;
    width:50%;
    border:2px solid white;
}
#detailsContainer{
    padding:10px;
}
#logoutBtn{
    font-family:"Helvetica";
    text-decoration:none;
    font-size:15px;
    padding:5px;
    text-align:center;
    color:white;
    background-color:#4f0007;
    transition-duration:0.4s;
    display:block;
    width:75%;
    border:2px solid white;
    margin-bottom: 15px;
}
#sidebar .sidebar-header {
    padding: 10px;
    padding-top:0;
}
#sidebar ul.components {
    padding: 10px 0;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #270000;
    background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4f0007;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #270000;
}
#sidebar.active{
    margin-left:-250px;
}
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#changeProfilePicBtn:hover{
    background-color:#4f0007;
    color:White;
}
#logoutBtn:hover{
    background-color:white;
    color:#4f0007;
}
#imageContainer:hover #profileImage{
    opacity:0.3;
}
#imageContainer:hover #profileHiddenButton{
    opacity:1;
}
#closeBtn:hover{
    opacity:1;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #buttonContainer{
        display:block;
    }
}