/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2017, 5:13:17 AM
    Author     : Shaan
*/

.formContainer{
    height:auto;
    padding:20px;
    width:100%;
    margin-top:10px;
}
#submitBtn,#resetBtn{
    background:#4f0007;
    color:white;
    width:100%;
    height:40px;
    border:none;
    transition-duration: 0.3s;
    border: 1px solid #4f0007;
}
#horizontalLine{
    color:#4f0007;
    border:1px solid #4f0007;
}
#submitBtn:hover,#resetBtn:hover{
    color:#4f0007;
    background:white;
}
