/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2018, 9:31:34 PM
    Author     : Shaan
*/
.formContainer{
    padding:10px;
}
.messageListDiv,.messageDiv{
    min-height: calc(100vh - 220px) !important;
    max-height: calc(100vh - 220px) !important;
    box-sizing:border-box;
    padding:10px !important;
}

.active{
    transition-duration: 0.8s;
    background:beige;
}
.outboxSelectedMessage,.inboxSelectedMessage{
    width:100%;
    padding:20px;
    background:white;
    box-sizing: border-box;
}
.inboxMessage,.outboxMessage{
    padding:15px;
    border-bottom:1px solid #4f0007;
    box-sizing:border-box;
}
#messageBody{
    max-height: 150px;
    min-height:150px;
}
.btn-custom{
    padding-top:15px !important;
    padding-bottom:15px !important;
    background:#4f0007;
    color:white;
    border:1px solid #4f0007 !important;
    transition-duration: 0.5s !important;
}
.btn-custom:active{
    background:white !important;
    color:#4f0007 !important;
}
.btn-custom:hover{
    background:#4f0007 !important;
    color:white !important;
}
.btn-custom.active{
    background:white !important;
    color:#4f0007 !important;
}
#submitBtn,#replyBtn{
    width:50%;
    padding:8px;
    transition-duration: 0.3s;
    background:#4f0007;
    color:white;
    border:1px solid #4f0007;
}
#replyBtn{
    margin-bottom:20px;
}

#subjectLabel,#outboxSubjectLabel,#inboxSubjectLabel{
    font-size:30px;
}

.singleDiv,.inboxSelectedMessage,.outboxSelectedMessage{
    overflow:auto;
    overflow-x:hidden;
    min-height: calc(100vh - 245px) !important;
    max-height: calc(100vh - 245px) !important;
    border-left:10px solid #4f0007;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
