/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2018, 1:05:29 AM
    Author     : Shaan
*/
.formContainer{
    padding:20px;
}
.cardListDiv{
    width:100%;
    min-height:calc(100vh - 170px);
    max-height:calc(100vh - 170px);
    overflow-y:scroll;
    overflow-x:hidden;
    box-sizing:border-box;
}
#submitBtn:hover{
    background:white;
    color:#4f0007;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left:10px solid #4f0007;
    padding:20px;
    box-sizing:border-box;
}
#paymentTypeLabel{
    text-transform: uppercase;
    font-size:30px;
}
.input-group-addon.internet {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
.input-group-addon.electricity {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.insurance {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.water {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.tv {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.phone {
    color: rgb(255, 255, 255);
    background-color: #fa5457;
    border-color: #fa5457;
}

