/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2018, 12:26:26 PM
    Author     : Shaan
*/
.formContainer{
    padding:20px;
}
.cardListDiv{
    width:100%;
    min-height:calc(100vh - 170px);
    max-height:calc(100vh - 170px);
    overflow-y:auto;
    overflow-x:hidden;
    box-sizing:border-box;
    border-left:10px solid #4f0007;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#submitBtn:hover{
    background:white;
    color:#4f0007;
}
.card{
    padding:20px;
    border-bottom:1px solid #4f0007;
    box-sizing:border-box;
}
#accName{
    text-transform: uppercase;
    font-size:30px;
}
#cancelBtn{
    width:150px;
    padding:8px;
    background:#4f0007;
    color:white;
    border:none;
}

